<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RPS Game</title>
    <script src="{{ url_for('static', filename='js/jquery-latest.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
    <script src="{{ url_for('static', filename='js/sweetalert2.min.js') }}"></script>
    <style>
        h1 {
            text-align: center;
        }

        .player_game_body {
            display: flex;
            justify-content: space-around;
        }

        .player_img {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .game_result_body table {
            width: 100%;
            text-align: center;
        }

        .game_result_body thead tr {
            background-color: #000;
            color: #fff;
        }

        .game_result_body tbody tr:nth-child(odd) {
            background-color: #f9bdbd;
        }

        .game_result_body tbody tr:nth-child(even) {
            background-color: #c3c3c3;
        }

        #pagination {
            text-align: center;
            margin-top: 10px;
            padding: 10px;
        }

        .logout_bt {
            padding: 5px 5px;
            float: right;
            border: 1px solid;
            background: #00db8a;
            cursor: pointer;
            font-size: 20px;
        }

        #game_rank_table {
            list-style: none;
            border: 1px solid;
            display: inline-block;
            padding: 25px;
        }
    </style>
</head>

<body>
    <h1> 1조 퍼스트 코딩 : RPS WEB GAME <span class="logout_bt" onclick="logout()">logout</span></h1>
    <div class="player_game_body">
        <img class="player_img player_img1" src="{{ url_for('static', filename='images/hand-scissors-solid.svg') }}"
            alt="가위">
        <img class="player_img player_img2" src="{{ url_for('static', filename='images/hand-back-fist-solid.svg') }}"
            alt="바위">
        <img class="player_img player_img3" src="{{ url_for('static', filename='images/hand-solid.svg') }}" alt="보">
    </div>
    <br>
    <hr>
    <h1> 전적 </h1>
    <div class="game_result_body">
        <ul id="game_rank_table"></ul>
        <br>
        <span id="game_total_print"></span>
        <table>
            <colgroup>
                <col width="5%">
                <col width="*">
                <col width="*">
                <col width="10%">
            </colgroup>
            <thead>
                <tr>
                    <th>순번</th>
                    <th>플레이어</th>
                    <th>컴퓨터</th>
                    <th>결과</th>
                </tr>
            </thead>
            <tbody class="game_results" id="myTable">
            </tbody>
        </table>
        <div id="pagination"></div>
    </div>
    <script>
        let nums = 1
        let gameinfo = []
        let rankinfo = []
        let total_round = 0
        let win_lose_draw = [0, 0, 0]
        const init_gameinfo = {{ rend_data| tojson }}
        const init_rank_data = {{ rank_data| tojson }}
        init_gameinfo.forEach(info_data => {
            gameinfo.push(info_data)
            result_check(info_data)
            total_round++
        })

        init_rank_data.forEach(info_data => {
            rankinfo.push(info_data)
        })

        const rowsPerPage = 10
        let currentPage = 1

        $(function () {

            $('.player_img').click(function () {
                const choise = $(this).attr("class").split('player_img')[2]
                let print_choise = ''
                switch (choise) {
                    case '1':
                        print_choise = '가위'
                        break
                    case '2':
                        print_choise = '바위'
                        break
                    case '3':
                        print_choise = '보'
                        break
                }
                Swal.fire({
                    title: print_choise + "로 승부 하시겠 습니까?",
                    showCancelButton: true,
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        $.ajax({
                            url: `{{ url_for('game_winlose') }}`,
                            method: 'GET',
                            data: { 'user_choise': choise },
                            dataType: 'json',
                            success: function (data) {
                                gameinfo.unshift({ 'player': print_choise, 'computer': data.computer, 'result': data.result })
                                result_check({ 'player': print_choise, 'computer': data.computer, 'result': data.result })
                                total_round++
                                rankinfo = data.rank
                                displayTable(currentPage)
                            }
                        })

                    }
                })
            })
        })

        function displayTable(page) {
            const table = document.getElementById("myTable")
            const startIndex = (page - 1) * rowsPerPage
            const endIndex = startIndex + rowsPerPage
            const slicedData = gameinfo.slice(startIndex, endIndex)
            table.innerHTML = ''

            const span = document.getElementById("game_total_print")
            span.innerHTML = '승 : ' + win_lose_draw[0] + '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp무 : ' + win_lose_draw[2] + '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp패 : ' + win_lose_draw[1]

            let nums = total_round - startIndex
            slicedData.forEach(item => {
                const row = table.insertRow()
                const roundCell = row.insertCell(0)
                const playerCell = row.insertCell(1)
                const computerCell = row.insertCell(2)
                const resultCell = row.insertCell(3)
                roundCell.innerHTML = nums--
                playerCell.innerHTML = item.player
                computerCell.innerHTML = item.computer
                resultCell.innerHTML = item.result
            })

            const rank_table = $("#game_rank_table")
            rank_table.empty()
            let rank_num = 0
            rankinfo.forEach(item => {
                rank_num++
                rank_table.append("<li>" + rank_num + ". " + item.user_id + "(승:" + item.win + " 패: " + item.lose + ")</li>")
            })

            updatePagination(page)
        }

        function updatePagination(currentPage) {
            const pageCount = Math.ceil(gameinfo.length / rowsPerPage)
            const paginationContainer = document.getElementById("pagination")
            paginationContainer.innerHTML = ""

            for (let i = 1; i <= pageCount; i++) {
                const pageLink = document.createElement("a")

                pageLink.href = "#"
                pageLink.innerText = i
                pageLink.onclick = function () {
                    displayTable(i)
                }
                if (i === currentPage) {
                    pageLink.style.fontWeight = "bold"
                }
                paginationContainer.appendChild(pageLink)
                paginationContainer.appendChild(document.createTextNode(" "))
            }
        }
        function result_check(info_data) {
            switch (info_data.result) {
                case '비겼 습니다.':
                    win_lose_draw[2]++
                    break;
                case '컴퓨터 승리!!':
                    win_lose_draw[1]++
                    break;
                case '사용자 승리!!':
                    win_lose_draw[0]++
                    break;
            }
        }
        function logout() {
            location.href = "{{ url_for('logout') }}"
        }
        displayTable(currentPage)
    </script>
</body>

</html>