<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RPS Game</title>
    <script src="{{ url_for('static', filename='js/jquery-latest.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
    <script src="{{ url_for('static', filename='js/sweetalert2.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game_khk.css') }}">
    <script>
        function play(choice) {
            $.post('/submit', { user_input: choice }, function (data) {
                document.getElementById('user-choice').innerText = data.user_choice;
                document.getElementById('computer-choice').innerText = data.computer_choice;
                document.getElementById('result').innerText = 'YOU ' + data.result;

                // 이미지 변경
                var userImage = document.getElementById('user-image');
                var computerImage = document.getElementById('computer-image');

                if (data.result === '사용자 승리!!') {
                    userImage.src = "{{ url_for('static', filename='images/user.png') }}"; // 유저 승리 이미지 URL
                    computerImage.src = "{{ url_for('static', filename='images/computer_lose.png') }}"; // 컴퓨터 패배 이미지 URL
                } else if (data.result === '비겼 습니다.') {
                    userImage.src = "{{ url_for('static', filename='images/user.png') }}"; // 무승부 이미지 URL
                    computerImage.src = "{{ url_for('static', filename='images/computer.png') }}"; // 무승부 이미지 URL
                } else {
                    userImage.src = "{{ url_for('static', filename='images/user_lose.png') }}"; // 유저 패배 이미지 URL
                    computerImage.src = "{{ url_for('static', filename='images/computer.png') }}"; // 컴퓨터 승리 이미지 URL
                }

                // 최근 10경기 결과 테이블 업데이트
                var resultsTable = document.getElementById('results-table-body');
                resultsTable.innerHTML = ''; // 기존 내용 지우기
                data.game_results.forEach((game, index) => {
                    var row = resultsTable.insertRow();
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    
                    cell1.innerText = game.user_choice;
                    cell2.innerText = game.computer_choice;
                    cell3.innerText = game.result;
                });
            }, 'json');
        }
        function logout() {
            location.href = "{{ url_for('logout') }}"
        }
    </script>

</head>

<body class="d-flex flex-column justify-content-between vh-100">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://nbcamp.spartacodingclub.kr/favicon.png" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                1조 퍼스트 코딩
            </a>
            <h1 class="main_title">RPS WEB GAME</h1>
            <div class="d-flex">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#">김동민</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">김한규</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('game_syh') }}">서영환</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">조민희</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-success" type="button" onclick="logout()">Logout</button>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <main class="container">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem">
                        <img id="user-image" src="{{ url_for('static', filename='images/user.png') }}" class="card-img-top" alt="..." />
                        <div class="card-body text-center">
                            <h5 class="card-title">PLAYER</h5>
                            <button class="btn btn-primary m-2" onclick="play('1')">가위</button>
                            <button class="btn btn-primary m-2" onclick="play('2')">바위</button>
                            <button class="btn btn-primary m-2" onclick="play('3')">보</button>
                        </div>
                        <div id="user-choice"></div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem">
                        <img src="{{ url_for('static', filename='images/vs.png') }}" class="card-img-top" alt="..." />
                        <div class="card-body text-center">
                            <h1 class="card-title">VS</h1>
                            <div id="result">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem">
                        <img id="computer-image" src="{{ url_for('static', filename='images/computer.png') }}" class="card-img-top" alt="..." />
                        <div class="card-body text-center">
                            <h5 class="card-title">COMPUTER</h5>
                            <button id="rsp-btn-computer" class="btn btn-primary m-2">
                                <div id="computer-choice">대기중</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2>최근 10경기 승무패 기록</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>유저 선택</th>
                    <th>컴퓨터 선택</th>
                    <th>결과</th>
                </tr>
            </thead>
            <tbody id="results-table-body">
                {% for game in game_results %}
                <tr>
                    <td>{{ game.player }}</td>
                    <td>{{ game.computer }}</td>
                    <td>{{ game.result }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer class="container">
        <hr>
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2024–2024 1조 퍼스트 코딩. · <a href="#">김한규</a> · <a href="#">김동민</a> · <a href="#">서영환</a> · <a href="#">조민희</a></p>
    </footer>
</body>

</html>