<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RPS Game</title>
    <script src="{{ url_for('static', filename='js/jquery-latest.min.js') }}"></script>
</head>
<body>
    <div>
        <img src="{{ url_for('static', filename='js/images/hand-scissors-solid.svg') }}" alt="가위">
        <img src="{{ url_for('static', filename='images/hand-back-fist-solid.svg') }}" alt="바위">
        <img src="{{ url_for('static', filename='images/hand-solid.svg') }}" alt="보">
    </div>
    <script>

    </script>
</body>
</html>