<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPS Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <style>
        main.container{
            margin: 100px auto;
            width: 15vw;
            min-width: 320px;
        }
    </style>
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://nbcamp.spartacodingclub.kr/favicon.png" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                1조 퍼스트 코딩
            </a>
            <h1 class="main_title">Login</h1>
        </div>
    </nav>
    <main class="container">
        <form action="{{ url_for('login') }}" method="post">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="userId" name="user_id">
                <label for="floatingInput">Id</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="user_pw">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="btn btn-primary w-100 py-2 mb-3" type="submit">Login</button>
            <button class="btn btn-info w-100 py-2" type="button" onclick="moves()">Sign</button>
        </form>
    </main>
    <footer class="container">
        <hr>
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2024–2024 1조 퍼스트 코딩. · <a href="#">김한규</a> · <a href="#">김동민</a> · <a href="#">서영환</a> · <a
                href="#">조민희</a></p>
    </footer>
    <script>
        function moves() {
            location.href = "{{ url_for('sign') }}"
        }
    </script>
</body>

</html>